/* style6.css */
/* Security */
/* Lavante Hammond */



body {
    font: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}


.header {
    background: #b669c9;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    align-content: end;
    font-size: 35px;
    height: 100px;
}

.sub_header {
    background-color: #000000;
    align-content: center;
    color: white;
    text-align: center;
}

.backbtn {
    float: left;
}


.firealarms{
    overflow-y: scroll;
}

.codetectors {
    overflow-y: scroll;
}

.center {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(100px,100px);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background: #b669c9;
    height: 80px;
    width: 100%
}

p.footer {
    text-align: left;
}